body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

/*
 * Create dark grey header with a white logo
 */

.webrake-header {
  background-color: #003366;
  width: 100%;
  margin-bottom: 10px;
}

.webrake-header h1.logo a {
  margin: 0;
  color: #fff;
  text-decoration: none;
  float: left;
}

.webrake-header ul li a {
  color: #fff;
  text-decoration: none;
}

.webrake-header ul li a:hover {
  text-decoration: underline;
  background-color: #004477;
}

.button-pagination {
  font-size: 70%;
  margin-right: -6px;
}

div.center, .center a {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

table, thead {
  border: 0px !important;
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  background-color: #CC9 !important;
}

td, th {
  border: 0px !important;
}

th:first-child {
  border-radius: 5px 0 0 0;
}

th:last-child {
  border-radius: 0 5px 0 0;
}

th {
  background-color: #acac79;
}

tr.webrake-odd {
  background-color: #bcbc89;
}

.right {
 float: right;
}

#header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Center the body content
 */

.container {
  margin: 0 30px 0 30px;
}
div.page_content {
  padding: 10px 10px 10px 10px;
  background-color: #cccc99;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
h2 {
  font-size: 1.7em;
  text-align: center;
  letter-spacing: -1px;
}

h3 {
  margin-top: 10px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

.time {
  color: #777;
  font-size: small;
}

.log_toggle {
  font-size: small;
}

#file_selector {
  background: #EEE;
  border-style: dotted;
  border-width: 1px;
}

#expandedx264 input {
  display: inline;
}