body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
/*
 * Create dark grey header with a white logo
 */
#header {
  background-color: #003366;
  width: 100%;
#  opacity: .9;
  margin-bottom: 10px;
}
#header h1.logo a {
  margin: 0;
  color: #fff;
  text-decoration: none;
 # text-transform: uppercase;
  float: left;
}

#header ul {
  list-style-type: none;
  list-style-image: none;
}

#header ul li {
  display: inline;
}

#header ul li a {
  color: #fff;
  text-decoration: none;
}

#header ul li a:hover {
  text-decoration: underline;
}

#queue {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
}

#queue td, th {
  padding: 3px;
}

#queue th {
  background-color: #acac79;
}

#queue tr.odd {
  background-color: #bcbc89;
}

.right {
 float: right;
}

#header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
/*
 * Center the body content
 */
.container {
#  width: 940px;
  margin: 0 30px 0 30px;
}
div.page_content {
  padding: 10px 10px 10px 10px;
  background-color: #cccc99;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
h2 {
  font-size: 1.7em;
#  margin-top: 40px;
  text-align: center;
  letter-spacing: -1px;
}
h3 {
#  font-size: 1.7em;
#  font-weight: 100;
  margin-top: 10px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}