{% extends "layout.html" %}
{% block content %}
  <div class="page_content">
    <h2>Jobs</h2>
    <center>
    Filter:
    <select name="jobFilter" id="jobFilter">
      <option>Active</option>
      <option>All</option>
      <option>Interrupted</option>
      <option>Inactive</option>
      <option>Failed</option>
    </select>
    Action All:
    <a href="#"><img title="Details" src="{{ url_for('static', filename='images/icons/magnifier.png') }}"/></a>
    <a href="#"><img title="Copy" src="{{ url_for('static', filename='images/icons/bullet_go.png') }}"/></a>
    <a href="#"><img title="Purge" src="{{ url_for('static', filename='images/icons/bin_empty.png') }}"/></a>
    <a href="#"><img title="Delete" src="{{ url_for('static', filename='images/icons/cross.png') }}"/></a>
    <a href="#"><img title="Compare" id="CompareAll" src="{{ url_for('static', filename='images/icons/layers.png') }}"></a>
    <br/><br/>

    <a href="/queue">First</a>
    <a href="/queue?page={{ page-1 }}">Prev</a>
    <a href="/queue?page={{ page+1 }}">Next</a>
    <a href="/queue?page={{ last_page }}">Last</a>
    </center>

    <table id="queue">
    <tr><th>#</td><th><input type="checkbox" id="checkall"></th><th>Status</th><th>Input</th><th>Output</th><th>Actions</th></tr>
    {% for j in jobs %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
      <td>{{ j.id }}</td>
      <td><input type="checkbox" name="checkJob" value="{{ j.id }}" class="checkJob"></td>
      <td>{{ j.status.0 }}</br><div class="time">{{ j.status.1 }}</div></td>
      <td>{{ j.Input }}</td>
      <td>{{ j.Output }}</td>
      <td>
	<a href="{{ url_for('jobShow', jobID=j.id) }}"><img title="Details" src="{{ url_for('static', filename='images/icons/magnifier.png') }}"/></a>
	<a href="{{ url_for('new') }}?copy={{ j.id }}"><img title="Copy" src="{{ url_for('static', filename='images/icons/bullet_go.png') }}"/></a>
	<a href="{{ url_for('purgeJob', jobID=j.id) }}"><img title="Purge" src="{{ url_for('static', filename='images/icons/bin_empty.png') }}"/></a>
	<a href="{{ url_for('removeJob', jobID=j.id) }}"><img title="Delete" src="{{ url_for('static', filename='images/icons/cross.png') }}"/></a>
      </td>
    </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}
{% block script %}
<script type="text/javascript">
$('#checkall').click (function () {
  $(':checkbox[name=checkJob]').prop('checked', this.checked);
});
$('#CompareAll').click(function () {
  var j = [];
  $('#queue input:checked').each(function() {
    j.push(this.value);
  });
  window.location.href = '/compare/' + j.sort().join(',');
});
</script>
{% endblock %}
