{% extends "layout.html" %}
{% block content %}
  <div class="page_content">
    {% if copyJob != 0 %}
    <h2>Modify Job {{ copyJob }}</h2>
    {% else %}
    <h2>Start New</h2>
    {% endif %}
    <form id="argForm" action="{{ url_for('launch') }}" method="post" class="pure-form pure-form-stacked">
      <fieldset>
        <legend>Destination</legend>
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-3">
            <input type="text" id="Output" name="Output"/>
          </div>          
        </div>
      </fieldset>
      <fieldset>
        <legend>Source</legend>
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-3">
            <label for="Input">Input</label>
            <input type="text" id="Input" name="Input" style="display:inline;"/>
            <button type="button" id="show_selector" class="pure-button">Browse</button>
            <div id="file_selector"></div>
          </div>
          <div class="pure-u-1 pure-u-md-2-3">
            <label for="Title">Title Track</label>
            <input type="text" id="Title" name="Title"/>
          </div>
          <div class="pure-u-1 pure-u-md-1-3">
            <label for="StartDuration">Start Duration</label>
            <input type="text" id="StartDuration" name="Duration"/>
          </div>
          <div class="pure-u-1 pure-u-md-1-3">
            <label for="EndDuration">End Duration</label>
            <input type="text" id="EndDuration" name="Duration"/>
          </div>
        </div>
        <label for="mainFeature" class="pure-checkbox">
          <input type="checkbox" id="mainFeature" name="mainFeature"/> Use main feature
        </label>        
        <label for="IncludeChapters" class="pure-checkbox">
          <input type="checkbox" id="IncludeChapters" name="IncludeChapters"/> Include chapters
        </label>        
        <label for="isPreview" class="pure-checkbox">
          <input type="checkbox" id="isPreview" name="isPreview"/> Preview (short duration)
        </label>        
      </fieldset>
      <fieldset>
        <legend>x264 Options</legend>
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-3">
            <label for="Quality">Quality (CRF)</label>
            <input type="text" id="Quality" name="Quality"/>
          </div>
          <div class="pure-u-1 pure-u-md-1-3">
            <label for="x264opts">Parameters</label>
            <input type="text" id="x264opts" name="x264opts"/>
          </div>
          <div class="pure-u-1 pure-u-md-1-3">
            <label for="x264Preset">Presets:</label>
            <select id="x264Preset" name="x264Preset">
	      {% for p in presets %}
	      <option value="{{ p }}">{{ p }}</option>
	      {% endfor %}
            </select>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Video Options</legend>
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-3">
            <label for="FrameRate">Frame Rate</label>
            <select id="FrameRate" name="FrameRate">
              <option value="23.976">23.976</option>
              <option value="25">25</option>
              <option value="29.97">29.97</option>
            </select>
          </div>
          <div class="pure-u-1 pure-u-md-1-3">
            <labeL>Resolution</label>
            <span style="display:inline;">
              w:<input type="text" id="Width" name="Width" size="4" style="display:inline;"/> x h:<input type="text" id="Height" name="Hieght" size="4" style="display:inline;"/>
            </span>
          </div>
          <div class="pure-u-1 pure-u-md-1-3">
            <label for="Modulus">Modulus</label>
            <input type="text" id="Modulus" name="Modulus" size="4"/>
          </div>
          <div class="pure-u-1 pure-u-md-1-3">
            <label for="Anamorphic">Anamorphic</label>
            <select id="Anamorphic" name="Anamorphic">
              <option value="Strict">Strict</option>
              <option value="Custom">Custom</option>
              <option value="Loose">Loose</option>
            </select>
          </div>
          <div class="pure-u-1 pure-u-md-1-3">
            <label for="KeepAspectRatio">Preserve Aspect Ratio</label>
          <input type="checkbox" id="KeepAspectRatio" name="KeepAspectRatio"/>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Video Options - Crop</legend>
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-12">
            <label for="CropTop">Top:</label>
            <input type="text" size="3" id="CropTop" name="Crop"/>
          </div>
          <div class="pure-u-1 pure-u-md-1-12">
            <label for="CropBottom">Bottom:</label>
            <input type="text" size="3" id="CropBottom" name="Crop"/>
          </div>
          <div class="pure-u-1 pure-u-md-1-12">
            <label for="CropLeft">Left:</label>
            <input type="text" size="3" id="CropLeft" name="Crop"/>
          </div>
          <div class="pure-u-1 pure-u-md-7-12">
            <label for="CropRight">Right:</label>
            <input type="text" size="3" id="CropRight" name="Crop"/>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Audio Options</legend>
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-3">
            <label for="AudioUse">Tracks</label>
            <input type="text" id="AudioUse" name="AudioUse"/>
          </div>
          <div class="pure-u-1 pure-u-md-1-3">
            <label for="AudioEncoder">Encoder</label>
            <input type="Text" id="AudioEncoder" name="AudioEncoder"/>
          </div>
        </div>
      </fieldset>
      <fieldset class="pure-form-aligned">
        <legend>Filters</legend>
        <div class="pure-control-group">
          <label for="Deinterlace">Deinterlace</label>
          <input type="checkbox" id="Deinterlace" name="Deinterlace">
        </div>
        <div class="pure-control-group">
          <label for="Detelecine">Detelecine</label>
          <input type="checkbox" id="Detelecine" name="Detelecine">
        </div>
      </fieldset>
      <fieldset>
        <legend>Other Parameters</legend>
        <input type="text" id="AddtlOpts" name="AddtlOpts">
      </fieldset>
      <br/>
      <input type="submit" value="Start Encode" class="pure-button"/>
    </form>
    <table>
    </table>
  </div>
{% endblock %}
{% block script %}
<script src="static/js/jqueryFileTree.js"></script>
<script type="text/javascript">
var copyJobID = {{ copyJob }};
$.getJSON('{{ url_for('jobJSON', jobID=copyJob) }}', function(data) {
  $.each(data['args'], function(arg, val) {
    elem = $('#' + arg);
    if (elem.is(':checkbox')) {
      elem.attr('checked', arg);
    } else {
      elem.val(val);
    }
  });
  if ('Title' in data['args']) {
    if (data['args']['Title'] == "--main-feature") {
      $('#Title').attr("disabled", "disabled");
      $('#mainFeature').attr('checked', true);
    }
  }
  if ('Duration' in data['args']) {
    $('#StartDuration').val(data['args']['Duration'][0]);
    $('#EndDuration').val(data['args']['Duration'][1]);
  }
  if ('Crop' in data['args']) {
    $('#CropTop').val(data['args']['Crop'][0]);
    $('#CropBottom').val(data['args']['Crop'][1]);
    $('#CropLeft').val(data['args']['Crop'][2]);
    $('#CropRight').val(data['args']['Crop'][3]);
  }
  $('#mainFeature').change(function () {
    if($(this).is(":checked")) {
       $('#Title').attr("disabled", "disabled");
       $('#Title').val('--main-feature');
    } else {
       $('#Title').removeAttr("disabled");
       $('#Title').val('');
    }
  });
  $('#file_selector').hide();
  $('#show_selector').click(function() { 
    $('#file_selector').toggle();
    if ($(this).text() == "Browse") {
      $(this).text("Done");
    } else {
      $(this).text("Browse");
    }
  });
  $('#file_selector').fileTree({ 
    root: '{{ selectorRoot }}', 
    script: '{{ url_for('dirlist') }}',
    expandSpeed: -1, 
    collapseSpeed: -1},
    function(file) {
      $('#Input').val(file);
  });
});
</script>
{% endblock %}
