{% extends "layout.html" %}
{% block content %}
  <div class="page_content">
    <h2>Start New</h2>
    <form id="argForm" action="/launch" method="post">
    <table>
    <tr><td>Input:</td><td><input type="text" id="Input" name="Input"></td></tr>
    <tr><td>Output:</td><td><input type="text" id="Output" name="Output"></td></tr>
    <tr><td>x264 Opts.:</td><td><input type="text" id="x264opts" name="x264opts"></td></tr>
    <tr><td>Frame Rate:</td><td><select id="FrameRate" name="FrameRate">
        <option value="23.976">23.976</option>
        <option value="25">25</option>
        <option value="29.97">29.97</option>
	</select></td><tr>
    <tr><td>x263 Presets:</td><td><select id="x264Preset" name="x264Preset">
	  {% for p in presets %}
	  <option value="{{ p }}">{{ p }}</option>
	  {% endfor %}
    </td></tr>
    <tr><td>Crop:</td><td></td></tr>
    <tr><td class="right">Top</td><td><input type="text" size="3" id="CropTop" name="Crop"/></td></tr>
    <tr><td class="right">Bottom</td><td><input type="text" size="3" id="CropBottom" name="Crop"/></td></tr>
    <tr><td class="right">Left</td><td><input type="text" size="3" id="CropLeft" name="Crop"/></td></tr>
    <tr><td class="right">Right</td><td><input type="text" size="3" id="CropRight" name="Crop"/></td></tr>
    <tr><td>Quality (CRF):</td><td><input type="text" id="Quality" name="Quality"></td></tr>
    <tr><td>Audio Channels:</td><td><input type="text" id="AudioUse" name="AudioUse"></td></tr>
    <tr><td>Audio Transfer Method:</td><td><input type="Text" id="AudioEncoder" name="AudioEncoder"/></td></tr>
    <tr><td>Preview (short duration):</td><td><input type="checkbox" id="isPreview" name="isPreview"></td></tr>
    <tr><td>Include chapters:</td><td><input type="checkbox" id="IncludeChapters" name="IncludeChapters"></td></tr>
    <tr><td>Deinterlace:</td><td><input type="checkbox" id="Deinterlace" name="Deinterlace"></td></tr>
    <tr><td>Detelecine:</td><td><input type="checkbox" id="Detelecine" name="Detelecine"></td></tr>
    <tr><td>Start Duration:</td><td><input type="text" id="StartDuration" name="Duration"></td></tr>
    <tr><td>End Duration:</td><td><input type="text" id="EndDuration" name="Duration"></td></tr>
    <tr><td>Other Parameters:</td><td><input type="text" id="Params" name="Params"></td></tr>
    </table>
    <input type="submit" value="Start Encode" />
    <button onClick="save_args()" type="button">Preview</button></br>
    </form>
  </div>
{% endblock %}
{% block script %}
<script type="text/javascript">
var copyJobID = {{ copyJob }};
$.getJSON('job/' + copyJobID + '/json', function(data) {
  $.each(data['args'], function(arg, val) {
    elem = $('#' + arg);
    if (elem.is(':checkbox')) {
      elem.attr('checked', arg);
    } else {
      elem.val(val);
    }
  });
  if ('Duration' in data['args']) {
    $('#StartDuration').val(data['args']['Duration'][0]);
    $('#EndDuration').val(data['args']['Duration'][1]);
  }
  if ('Crop' in data['args']) {
    $('#CropTop').val(data['args']['Crop'][0]);
    $('#CropBottom').val(data['args']['Crop'][1]);
    $('#CropLeft').val(data['args']['Crop'][2]);
    $('#CropRight').val(data['args']['Crop'][3]);
  }
});
</script>
{% endblock %}
